*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 30px;
    height: 30px;
}

li{
    font-size: 20px;
    cursor: pointer;
}

h1,ul,li{
    display: inline;
}

ul{
    margin-left: 60%;
}

li:hover{
    color: orangered;
}

input{
    width: 60%;
    height: 35px;
    font-size: 20px;
}

.searchbox{
    text-align: center;
    margin-top: 35px;
}

.box{
    display: inline-block;
    width: 300px;
    height:310px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    
    
}


.box:hover{
    background-color: black;
    color: white;
}

.products{
    text-align: center;
    margin-top: 30px;
}


.about{
    text-align: center;
    margin-top: 40px;
    padding: 20px;
}

.contact{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 40px;
    padding: 40px;
}
